.expenses {
    background-color: black;
    padding: 7px;
    border-radius: 30px;
    border: 1px solid #ececec;
}

.App {
    background-color: rgb(48, 25, 52);
    height: 100vh;
    width: 100%;
    position: absolute;
}

.App-header {
    justify-content: center;
    text-shadow: 10px white;
    display: flex;
    margin-bottom: 20px;
}

.tittle {
    margin-top: 40px;
    margin-left: 60px;
    font-size: 30px;
    text-shadow: 2px 0.5px 10px #ffffff;
}

img {
    width: 600px;
}

.bhai:hover {
    transform: translateX(-10px);
    transition: transform 0.3s;
    box-shadow: 0 2px 30px rgba(234, 78, 240, 0.4);
}

h1:hover {
    transform: rotate(-20deg);
    transform: skew(-20deg, 10deg);
    transform: rotateY(-40deg);
    /* Add a transition effect to the transform property. */
    transition: transform 3s;
    /* Add a box shadow on hover. */
}

@media (max-width: 580px) {
    .tittle {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        flex: 1;
        font-size: medium;
    }
    img {
        display: flex;
        align-items: center;
        font-size: 1.25rem;
        height: 150px;
        width: 250px;
    }
}